body {
  margin: 0;
  height: 100vh;
  background-color: #080808;
}

#root {
  height: 100%;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #212529;
  border-radius: 100vh;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}